ssl/*
db/data/*
master/log/*
master/schema.rb
config/credentials.yml
config/schema.rb
config/database.yml
config/env.yml
config/private_key.pem
load-balancer/default.conf
frontend/webapp.conf
reverse-proxy/certs
