FRONTEND_HOSTNAME: frontend.kodethon.com 
BACKEND_HOSTNAME: backend.kodethon.com
GROUP_PASSWORD: abc123
MAILGUN_DOMAIN: 
MAILGUN_API_KEY: 
STRIPE_PUBLISHABLE_KEY:
STRIPE_SECRET_KEY:

# Delete if datadog is not going to be used
DATADOG_API_KEY:

# Delete if letsencrypt is not going to be used
USE_LETSENCRYPT: true
NODE_OWNER: 
