FRONTEND_HOSTNAME: test.kodethon.com 
BACKEND_HOSTNAME: backend.kodethon.com
MAILGUN_DOMAIN: 
MAILGUN_API_KEY: 
STRIPE_PUBLISHABLE_KEY:
STRIPE_SECRET_KEY:

# Delete if letsencrypt is not going to be used
USE_LETSENCRYPT: true
NODE_OWNER: 
